@model MissierSystem.Models.TonModality.RaffleBusinessCollaborator

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>RaffleBusinessCollaborator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Identity" class="control-label"></label>
                <input asp-for="Identity" class="form-control" />
                <span asp-validation-for="Identity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalCode" class="control-label"></label>
                <input asp-for="PersonalCode" class="form-control" />
                <span asp-validation-for="PersonalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PixType" class="control-label"></label>
                <input asp-for="PixType" class="form-control" />
                <span asp-validation-for="PixType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PixKey" class="control-label"></label>
                <input asp-for="PixKey" class="form-control" />
                <span asp-validation-for="PixKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YourCash" class="control-label"></label>
                <input asp-for="YourCash" class="form-control" />
                <span asp-validation-for="YourCash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Removed" /> @Html.DisplayNameFor(model => model.Removed)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
