@{
    ViewData["Title"] = "Home Page";
    var platform = new Dictionary<string, string>() { { "localuse", "platform" } };
    var userServices = new Dictionary<string, string>(){ { "localuse", "useServices" } };
}

<div>
    <nav class="navbar navbar-expand-lg navbar-dark text-light" style="background-color: black">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/image/geral/logo/missier_logo_pequeno.png" title="Missier Sorteios" alt="Missier Sorteios" /> <span class="ml-3 pt-4">Missier Sorteios</span></a>
            <div>
                <span class="lead">Olá, seja bem-vindo!</span>
            </div>
        </div>
    </nav>
</div>

<div class="container-fluid">

    <div class="row text-center mt-1">

    </div>
    @*box-shadow: 1px 2px 25px black*@

    <div class="row my-1 text-center justify-content-center p-3">
        <h1 class="display-6 m-0">Rifa e Sorteios</h1>
        <div class="col-3 text-center m-0">
            <hr class="mb-3" />
        </div>
        <div class="col-sm-12 col-lg-12 text-center p-4 text-light bg-dark" style="height: auto; border-radius: 10px">
            <div class="row">
                <div class="col-sm-12 col-lg-3 pt-4 pb-4">
                    <div class="d-grid gap-2">
                        <a class="btn btn-outline-info pt-4 pb-4" asp-action="InicialPage" asp-controller="TonStyle"><span class="lead"><b>Nossos Sorteios</b></span></a>
                        <hr class="mt-3" style="width: 80%; margin: auto;" />
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3 pt-4 pb-4">
                    <div class="d-grid gap-2">
                        <a class="btn btn-danger pt-4 pb-4" asp-action="Login" asp-controller="UserBasicInfo" asp-all-route-data="@userServices"><span class="lead"><b>Sorteios de Usuários</b></span></a>
                        <hr class="mt-3" style="width: 80%; margin: auto;" />
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3 pt-4 pb-4">
                    <div class="d-grid gap-2">
                        <a class="btn btn-success pt-4 pb-4" asp-action="NewUsersignUp" asp-controller="UserBasicInfo"><span class="lead"> <b>Cadastrar-se</b></span></a>
                        <hr class="mt-2" style="width: 80%; margin: auto;" />
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3 pt-4 pb-4">
                    <div class="d-grid gap-2">
                        <a class="btn btn-warning pt-4 pb-4" asp-action="Login" asp-controller="UserBasicInfo" asp-all-route-data="@platform"><span class="lead"><b>Acessar Plataforma</b></span></a>
                        <hr class="mt-3" style="width: 80%; margin: auto;" />
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row my-1 text-center justify-content-center p-3" >
        <h1 class="display-6 m-0">Passo a Passo - Tutoriais</h1>
        <div class="col-3 text-center m-0">
            <button class="btn btn-info mt-2" id="passPassBtn" value="show" onclick="LayoutChangeState('passPass')"> Mostrar Vídeos </button>
            <hr class="mb-3" />
        </div>

        <div id="pre-videoTutorial"></div>

    </div>

    <div class="row my-1 text-center justify-content-center p-3 mt-4">
        <h1 class="display-6 m-0">Tutoriais - Modalidades</h1>
        <div class="col-3 text-center m-0">
            <button class="btn btn-info mt-2" id="passPassModalityBtn" value="show" onclick="LayoutChangeState('modality')"> Mostrar Vídeos </button>

            <hr class="mb-3" />
        </div>

        <div id="pre-videoTypeTutorial"></div>


        
    </div>

</div>

<!--Modals of Tutorials-->

<div class="modal fade" id="learnMoreAutomatized" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sorteio Dinâmico</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="learnMoreManual" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sorteio Manual</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    var pass1 = 0;
    var pass2 = 0;
    document.getElementById("passPassVideos").style.display = "none";
    document.getElementById("modalityVideos").style.display = "none";

    function LayoutChangeState(what) {
        if (what == "passPass") {
            $("#passPassVideos").toggle('fast');

            var pass = document.getElementById('passPassBtn').getAttribute("value");
            if (pass == "hide") {
                document.getElementById('passPassBtn').innerText = "Mostrar Vídeos";
                document.getElementById('passPassBtn').setAttribute('value', 'show');
                document.getElementById('passPassBtn').setAttribute('class', 'btn btn-info mt-2');
            } else {
                if (pass1 == 0) {
                    document.getElementById('pre-videoTutorial').innerHTML = ` <div class="col-sm-12 col-lg-12 text-center p-4 text-light bg-dark" style="height: auto; border-radius: 10px" id="passPassVideos">
            <div class="row">
                <div class="col-sm-12 col-lg-6 pt-4 pb-4 text-center">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="lead"><b>#1 - Seu Cadastro e Autenticação</b></h1>
                            <hr />
                        </div>
                        <div class="col-12">
                            <div class="ratio ratio-21x9">
                                <iframe src="https://www.youtube.com/embed/yFHBhDPxaBE" title="#1 - Cadastro e Autenticação - Plataforma Missier" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-lg-6 pt-4 pb-4 text-center">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="lead"><b>#2 - Cadastrar Redes Sociais e Meio de Recebimento </b></h1>
                            <hr />
                        </div>
                        <div class="col-12">
                            <div class="ratio ratio-21x9">
                                <iframe src="https://www.youtube.com/embed/4BH02WYGNZI" title="#2 - Configurar Plataforma Dados de Pagamento e Redes Sociais - Plataforma Missier" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-6 pt-4 pb-4 text-center">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="lead"><b>#3 - Criando Seu Primeiro Sorteio</b></h1>
                            <hr />
                        </div>
                        <div class="col-12">
                            <div class="ratio ratio-21x9">
                                <iframe src="https://www.youtube.com/embed/HOES9Zqv3L8" title="#3 - Criar um Sorteio - Plataforma Missier" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-lg-6 pt-4 pb-4 text-center">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="lead"><b>#4 (Participante) - Como Participar de Um Sorteio </b></h1>
                            <hr />
                        </div>
                        <div class="col-12">
                            <div class="ratio ratio-21x9">
                                <iframe src="https://www.youtube.com/embed/EYb5XXdHlU8" title="# 4 (Participante) - Participar de Um Sorteio - Plataforma Missier" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-6 pt-4 pb-4 text-center">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="lead"><b>#4 (Criador Sorteio) - Como Fazer a Gestão do Sorteio</b></h1>
                            <hr />
                        </div>
                        <div class="col-12">
                            <div class="ratio ratio-21x9">
                                <iframe src="https://www.youtube.com/embed/GP7i0q_ALEE" title="#4 (Criador do Sorteio) - Gestão de um Sorteio - Plataforma Missier" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-lg-6 pt-4 pb-4 text-center">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="lead"><b>#5 - Como Encerrar Sorteio e Sortear Número(s) </b></h1>
                            <hr />
                        </div>
                        <div class="col-12">
                            <div class="ratio ratio-21x9">
                                <iframe src="https://www.youtube.com/embed/mixcN1riKdw" title="#5 - Encerrar Sorteio e Sortear Número(s) - Plataforma Missier" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-6 pt-4 pb-4 text-center">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="lead"><b>#6 - Como Comprar Números</b></h1>
                            <hr />
                        </div>
                        <div class="col-12">
                            <div class="ratio ratio-21x9">
                                <iframe src="https://www.youtube.com/embed/wXznqZ4R6TA" title="#6 - Comprar Número(s) - Plataforma Missier" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>`
                    pass1 = 1;
                }
                document.getElementById('passPassBtn').innerText ="Esconder Vídeos";
                document.getElementById('passPassBtn').setAttribute('value', 'hide');
                document.getElementById('passPassBtn').setAttribute('class', 'btn btn-dark mt-2');
            }

        } else if (what == "modality") {
            $("#modalityVideos").toggle('fast')

            var pass = document.getElementById('passPassModalityBtn').getAttribute("value");
            if (pass == "hide") {
                document.getElementById('passPassModalityBtn').innerText = "Mostrar Vídeos";
                document.getElementById('passPassModalityBtn').setAttribute('value', 'show');
                document.getElementById('passPassModalityBtn').setAttribute('class', 'btn btn-info mt-2');


            } else {
                if (pass2 == 0) {
                    document.getElementById('pre-videoTypeTutorial').innerHTML = `<div class="col-sm-12 col-lg-12 text-center p-4 text-light bg-dark" style="height: auto; border-radius: 10px" id="modalityVideos">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6 pt-4 pb-4 text-center">
                            <div class="row">
                                <div class="col-12">
                                    <h1 class="display-6"><b>Sorteio Dinâmico</b></h1>
                                    <hr />
                                </div>
                                <div class="col-12">
                                    <div class="ratio ratio-16x9">
                                        <iframe src="https://www.youtube.com/embed/qvJYLVWDKus" title="Plataforma Para Criação e Gestão de Sorteios/Rifas" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="row justify-content-center">
                                        <div class="col-6 ">
                                            <div class="d-grid gap-2 mt-2">
                                                <a class="btn btn-outline-light pt-1 pb-1" data-bs-toggle="modal" data-bs-target="#learnMoreAutomatized"><span class="lead">Saiba mais</span></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 col-lg-6 pt-4 pb-4">
                            <div class="row">
                                <div class="col-12">
                                    <h1 class="display-6"><b>Sorteio Manual</b></h1>
                                    <hr />
                                </div>
                                <div class="col-12">
                                    <div class="ratio ratio-16x9">
                                        <iframe src="https://www.youtube.com/embed/7_yoInMdIGw" title="Plataforma pra Criação e Gestão de Sorteios - Sorteio Manual" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="row justify-content-center">
                                        <div class="col-6 ">
                                            <div class="d-grid gap-2 mt-2">
                                                <a class="btn btn-outline-light pt-1 pb-1" data-bs-toggle="modal" data-bs-target="#learnMoreManual"><span class="lead">Saiba mais</span></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-6 pt-4 pb-4 text-center">
                            <div class="row">
                                <div class="col-12">
                                    <h1 class="display-6"><b>Sorteio "Jogo do Bicho"</b></h1>
                                    <hr />
                                </div>
                                <div class="col-12">
                                    <div class="ratio ratio-16x9">
                                        <iframe src="https://www.youtube.com/embed/6xEurXyFVro" title="Jogo do Bicho - Novidade" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="col-12 mt-2">
                                    <div class="row justify-content-center">
                                        <div class="col-6 ">
                                            <div class="d-grid gap-2 mt-2">
                                                <a class="btn btn-outline-light pt-1 pb-1" data-bs-toggle="modal" data-bs-target="#learnMoreAutomatized"><span class="lead">Saiba mais</span></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>`
                    pass2 = 1;

                }
                document.getElementById('passPassModalityBtn').innerText = "Esconder Vídeos";
                document.getElementById('passPassModalityBtn').setAttribute('value', 'hide');
                document.getElementById('passPassModalityBtn').setAttribute('class', 'btn btn-dark mt-2');
            }
        }
    }
</script>

@*<div class="container fixed-bottom " style="background-color: black;">
    <span class="lead" style="color: white"> &copy; Missier</span>
</div>*@


