@model MissierSystem.Models.GeneralModels.Models.UserModelItens.LoginModel

@{ 
    ViewData["Title"] = "Rescue Password";
}

<div class="card" id="loginScreen">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/image/geral/logo/missier_logo_pequeno.png" title="Missier Sorteios" alt="Missier Sorteios" /> <span class="ml-3 pt-4">Missier Sorteios</span></a>
    <div class="card-body">
        <form asp-action="ForgotPasswordChangeAuto" asp-controller="UserBasic">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-center">
                <label asp-for="Email" class="control-label mb-1">Email <i class="fas fa-at"></i></label>
                <input asp-for="Email" placeholder="Digite o email da conta" class="form-control text-center" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group d-grid gap-2 mt-2">
                <input type="submit" value="Enviar Email" class="btn btn-outline-success btn-block" />
            </div>
        </form>

        @*<a class="font-weight-lighter text-center" asp-action="RescuePassword" target="_blank">Esqueci minha senha</a>*@
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}