@model MissierSystem.Models.Home.Services.Raffle.RaffleSearch
@{
    Layout = null;
}

<form asp-action="SearchRaffle">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="row justify-content-center">
        <div class="col-lg-3">
            <div class="form-group">
                <input asp-for="NameRaffleNickName" class="form-control my-1" title="Digite o nome do sorteio/usuário." placeholder="Digite o nome do sorteio/usuário" />
                <span asp-validation-for="NameRaffleNickName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <input asp-for="Code" class="form-control my-1" title="Digite o nome do sorteio/rifa." placeholder="Digite o código do sorteio" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 text-center">
            <div class="form-group d-grid gap-4">
                <input type="submit" value="Buscar" class="btn btn-success " />
            </div>
        </div>

    </div>

    <div class="row justify-content-center">
        
    </div>

</form>